<section class="photo-list">
    <% for (let i = 0; i < llista.length; i++) { %>
      <div class="photo">
        <h4> <%= llista[i].id %>, <%= llista[i].nom %></h4>
        <img src="<%= llista[i].imatge %>" alt="Foto <%= i + 1 %>"><br>
        <a href="edit?id=<%= llista[i].id %>"><button class="edit-button">Editar Producto</button></a>
      </div>
    <% } %>
  </section>
  