
    <h2>Esborrar el producte amb ID '<%= productId.id %>'</h2>
    <ul>
      <li><strong>Nombre del Producto:</strong> <%= productId.nom %></li>
      <li><strong>Descripción:</strong> <%= productId.descripcio %></li>
      <li><strong>Precio:</strong> <%= productId.preu %> €</li>
      <!-- Otras propiedades del producto -->
    </ul>
    <div class="product-image">
      <img src="<%= productId.imatge %>" alt="Imagen del producto" />
    </div>

  