<div class="formHeader">
  <p>Esborrar el producte amb ID  '<%= infoProduct.id %>'?</p>
</div>
<div class="textDelete">
  <p><%= infoProduct.nom %></p>
  <p><%= infoProduct.preu %></p>
  <p><%= infoProduct.descripcio %></p>
</div>
<div class="miniatura" >
  <!-- Miniatura de la imagen -->
  <img style="padding-left: 15%;" src="<%= infoProduct.imatge %>" alt="Miniatura de la imagen" />
</div>
<br>
<form style="padding-left: 15%;" method="post" action="/actionDelete?id=<%= infoProduct.id %>" enctype="multipart/form-data" >
  <div class="formRow">
    <input type="submit" value="Borrar" />
  </div>
</form>
  