<div class="formHeader">
  <p>Modificar el producte <br> amb el id: '<%= infoProduct.id %>'</p>
  <a href="/delete?id=<%= infoProduct.id %>"><button class="editButton">Borrar</button></a></div>
<form method="post" action="/actionEdit" enctype="multipart/form-data">

  <!-- Campo de entrada oculto para pasar el id automáticamente -->
  <input type="hidden" name="id" value="<%= infoProduct.id %>" />

  <div class="formRow">Nom:
    <input type="text" name="nom" id="nom" placeholder="<%= infoProduct.nom %>" />
  </div>
  <div class="formRow">Preu:
    <input type="text" name="preu" id="preu" placeholder="<%= infoProduct.preu %> €" />
  </div>
  <div class="formRow">Descripció:
    <textarea name="descripcio" id="descripcio" placeholder="<%= infoProduct.descripcio %>"></textarea>
  </div>
  <div class="miniatura">
    <!-- Miniatura de la imagen -->
    <img src="<%= infoProduct.imatge %>" alt="Miniatura de la imagen" />
  </div>
  <div class="formRow" style="white-space: nowrap">
    Nova Imatge:<input type="file" name="files" id="imatge" />
  </div>
  <div class="formRow">
    <input type="submit" value="Actualitzar" />
  </div>
</form>