


<div class="container">


    <h1>    
    <%= infoNau.nom %>
    </h1>

    <img src=<%= infoNau.img %> alt="Satelite">
    <h3>
    Any: <%= infoNau.any %>
    </h3>
    <h3>
    País: <%= infoNau.pais %>
    </h3>
    <p >
    <%= infoNau.descripcio %>
    </p>
</div>